
html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    max-zoom: 100%;
}
canvas {
    display: block;
}
main {
    position: relative;
    display: block;
}

#overlay-container {
    position: absolute;
    z-index: 10;
    display: flex;
    /* min-width: 176px;
    width: 30%;
    max-width: 232px; */
    width: 232px;
    height: calc(100% - 200px - 1rem);
    flex-direction: column;
    justify-content: stretch;
}

#overlay {
    position: relative;
    display: block;
    margin: 16px;
    flex-grow: 1;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, .5);
}